.sr-only {
    @include sr-only();
}

.sr-only-focusable {
    @include sr-only-focusable();
}

.sr-skip-link {
    @include sr-only();
    @include sr-only-focusable();

    &:focus {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 1rem;
        transform: translateX(-50%);
        background-color: var(--color-text);
        color: var(--color-bg);
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem 1.5rem;
    }
}

.u-align-center {
    text-align: center !important;
}
.u-align-right {
    text-align: right !important;
}
.u-align-middle {
    display: inline-flex;
    align-items: center;
}

.u-mb0 {
    margin-bottom: 0 !important;
}
.u-mb1 {
    margin-bottom: 1rem !important;
}
.u-mb2 {
    margin-bottom: 2rem !important;
}
.u-mb4 {
    margin-bottom: 4rem !important;
}
.u-mt2 {
    margin-top: 2rem !important;
}
.u-mr2 {
    margin-right: 2rem !important;
}
.u-ml2 {
    margin-left: 2rem !important;
}

.u-desktop-only {
    display: none;
    @include mq(xl) {
        display: block;
    }
}

/* Styling for the wrapper to align items in a row */
.availability-wrapper {
    display: flex;
    flex-direction: column; /* Stacked on smaller screens */
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem; /* Add some space between the sections */

    @include mq(md) {
        flex-direction: row; /* Align side by side on medium screens and above */
        align-items: center;
    }
}

/* Styling for the availability section */
.availability {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;

    @include mq(lg) {
        padding: 3rem 0;
    }

    &__title {
        font-size: 2rem;
        color: var(--color-primary);
        margin-bottom: 1rem;

        @include mq(md) {
            font-size: 3rem;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        font-size: 1.125rem; // 18px
        color: var(--color-text);
        margin-bottom: 1.5rem;

        @include mq(md) {
            font-size: 1.25rem; // 20px
        }

        .status-dot {
            width: 10px;
            height: 10px;
            background-color: var(--color-primary);
            border-radius: 50%;
            margin-right: 0.5rem;
        }
    }

    &__button {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background-color: var(--color-primary);
        color: white;
        font-weight: 700;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;

      
    }
}
/* Styling for the contact-info section */
.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: var(--color-text-light);

    @include mq(md) {
        font-size: 1.125rem; // Adjust font size for larger screens
    }

    p {
        margin-bottom: 0.5rem;
    }
}