<footer class="footer h-card" role="contentinfo">
    <div class="footer__inner container">
        <p class="footer__item">
            <strong>&copy; 2016&ndash;{{ build.timestamp | dateToFormat('yyyy') }}
            <a class="p-name u-url" rel="me" href="{{ site.url }}">{{ author.name }}</a></strong>
        </p>
        <p class="footer__item footer__item--right">
            <a class="footer__icon" href="{{ author.social.github.url }}"> {% icon "github" %}</a>
            <a class="footer__icon" href="{{ author.social.leetcode.url }}">{% icon "codepen" %}</a>
            <a class="footer__icon" href="{{ author.social.linkedin.url }}">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 23px; height: 23px;">
            </a>
            <a class="footer__icon" href="{{ author.social.medium.url }}">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111505.png" alt="Medium" style="width: 23px; height: 23px;">
            </a>
        </p>

    </div>
</footer>