<div class="capabilities-container">
    <div class="capabilities">
        <div class="capability ux-cx">
            <span class="emoji">😍</span>
            <h3>UX/CX</h3>
            <ul>
                <li>User Experience Design</li>
                <li>Rapid Prototyping</li>
                <li>Usability Testing</li>
                <li>UX Reviews</li>
                <li>Interaction Design</li>
                <li>Customer journeys</li>
            </ul>
        </div>
        <div class="capability product-design">
            <span class="emoji">🎨</span>
            <h3>Product Design</h3>
            <ul>
                <li>User Interface Design</li>
                <li>Visual Design</li>
                <li>Visual Identities</li>
                <li>Design Systems</li>
                <li>Responsive & Mobile Websites</li>
                <li>Modular Grid Systems</li>
                <li>Brand guidelines</li>
            </ul>
        </div>
        <div class="capability development">
            <span class="emoji">👨‍💻</span>
            <h3>Development</h3>
            <ul>
                <li>Front-end development</li>
                <li>Responsive & Mobile Websites</li>
                <li>Mobile apps</li>
                <li>Animations</li>
                <li>SaaS applications</li>
                <li>Platform solutions</li>
            </ul>
        </div>
    </div>
</div>
