.capabilities-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.capabilities {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.capability {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.capability h3 {
    font-size: 24px;
    color: var(--color-primary); /* Use the primary color variable */
    margin-bottom: 20px;
}

.emoji {
    font-size: 50px;
    margin-bottom: 10px;
}

.capability ul {
    list-style-type: none;
    padding: 0;
}

.capability ul li {
    font-size: 16px;
    color: var(--color-text-light);
    line-height: 1.8;
}

.capability ul li::before {
    content: "•";
    margin-right: 5px;
    color: var(--color-primary); /* Use the primary color variable */
}