---
layout: base
tags: nav
title: About Me
eleventyNavigation:
  key: About
  order: 4
permalink: /about/
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image"
                        src="{{ '/assets/images/pk-1600.jpg' | url }}"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Pallavi"
                        eleventy:widths="800,1600"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I’m Pallavi Khedle, a front-end web developer and designer based in California, USA.</p>
                    <p>
                        With <b>6 years</b> of experience in building cross-platform web applications at scale, 
                        I've developed a passion for creating aesthetic websites that are both functional and visually appealing.
                    </p>
                    <p>I design and build interfaces for things that people use, love and live with ❤️</p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p>
                    I work at <a href="https://www.model.earth">Model.Earth</a>, a software studio dedicated to explore Earth's systems
through collaborative modeling.
                </p>
            
                <h2>Writing</h2>
                <p>
                    I like writing about web development and design on my blog. You can check out some of my writings on  
                    <a href="https://medium.com/@pallavi8khedle">Medium</a>.
                </p>

                <h2>Offline</h2>
                <p>
                    When I am not writing code or writing about writing code, I enjoy 
                    <a href="#">music</a>, standup comedy and nature.
                    I also know the lyrics to most <a href="https://www.youtube.com/watch?v=U2SVCCENLjE&list=RDEMyA195hR7OuQFAMVGvAjTjQ&start_radio=1">Prateek Kuhad</a> songs by heart.
                </p>

               
            </div>
        </div>

    </div>
</div>